* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 /* INFO PAGE */

.gray_background {
   background-color: rgba(234, 234, 234, 1);
}

body {
  background-color: rgb(210, 212, 201);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/* CREO UN DIV PER FARE LO SFONDO VERDE  */

.background_green {
  background-color: rgba(53, 134, 117, 1);
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* MISURE VARIE  */

.container {
  width: 1400px;
  height: 95%;
  margin: auto;
  background-color: white;
  z-index: 9999999;
  display: flex;
}

.left_section_fixed {
  height: 100%;
  width: 32%;
}

.main_section {
  height: 100%;
  width: 68%;
  background-color: grey;
}

.head_mesure {
  height: 60px;
  width: 100%;
}

/* !!! HEADER LEFT  !!! */


.header_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_header_content {
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.left_header_content>img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

.right_header_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right_header_content span>i {
  font-size: 22px;
  margin: auto;
  color: rgb(177, 177, 177);
}

.right_header_content span {
  height: 40px;
  width: 40px;
  display: flex;
  margin-right: 5px;
}

/* !!! ALLERTS BELL  !!! */

.sounds_allerts {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(142, 218, 252);
}

.sounds_allerts img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

.sounds_allerts>div {
    height: 50px;
}


.sounds_allerts>div:first-child {
  display: flex;
  align-items: center;
  margin-left: 12px;
  width: 50px;
}

.sounds_allerts>div:last-child>span {
  padding-top: 5px;
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.6;
}

.sounds_allerts>div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

/* !!! INPUT RICERCA CHATS  !!! */

.input_left_section {
  height: 50px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  align-items: center;
}

.input_content {
  display: flex;
  width: 100%;
  margin: 0px 10px;
  height: 35px;
  position: relative;
}

.input_content>i {
  font-size: 18px;
  color: rgb(185, 181, 178);
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

.input_content input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid  rgb(233, 235, 234);
  box-shadow: none;
  padding-left: 50px;
  display: inline-block;
}

input {
  outline: none;
}

/* !!! FINESTRA CHAT   !!! */

.utente {
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid rgba(234, 234, 234, 0.8);
}

.utente div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.utente div:first-child {
    height: 50px;
    width: 50px;
}

.utente img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.utente div:last-child p {
  padding-top: 5px;
  font-size: 14px;
  opacity: 0.6;
}

.users_messages {
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 210px)
}

/* !!! INIZIO PARTE DESTRA MAIN  !!! */

.header_main {
  height: 60px;
  width: 100%;
  background-color: rgba(234, 234, 234, 1);
  border-left: 1px solid rgba(210, 210, 210, 1);
  display: flex;
  align-items: center;
  padding: 0  20px;
  justify-content: space-between;
}

.main_content_chat {
  width: 100%;
  height: calc(100% - 120px);
  background-image: url(https://metodofanart.com.br/wp-content/uploads/2017/07/background-whats.jpg);
  background-size: cover;
}

/* !!! HEADER MAIN UTENTE ACTIVE  !!! */

.utente_active img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.utente_active {
  display: flex;
}

.utente_active  div:first-child {
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.utente_active  div:last-child p {
  font-size: 12px;
  opacity: 0.6;
}

.utente_active  div:last-child h3 {
  font-size: 18px;
}

.utente_active div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.utente_active_actions i {
  font-size: 20px;
  padding: 10px;
  color: rgb(177, 177, 177);
}

/* !!! MAIN CHAT ZONA PRINCIPALE  !!! */

.main_content_chat {
  overflow-y: scroll;
}

.container_chat {
  width: 85%;
  margin: auto;
  height: 100%;
}

.container_chat > div {
  display: none;
}

.container_chat {
    font-size: 13px;
}

.message_received {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  float: left;
  clear: both;
}

.message_sent {
  padding: 15px;
  background-color: lightgreen;
  border-radius: 10px;
  margin-top: 15px;
  float: right;
  clear: both;
}

.margin_top_chat {
  margin-top: 50px;
}

/* !!! INPUT DI CHAT E EMOCTIONS !!! */

.footer_content {
  height: 60px;
  width: 100%;
  background-color: rgb(245, 237, 234);
  border-left: 1px solid rgba(210, 210, 210, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_content i {
  font-size: 22px;
  color: rgb(150, 150, 150);
}

.footer_content input {
  height: 60%;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

.footer_content>div {
  width: 10%;
  display: flex;
  justify-content: center;
}

.footer_content>.template  {
  display: none;
}

/* !!! SEZIONE PER GLI HOVER O ACTIVE O FOCUS !!! */
.active {
  display: block !important ;
}

.disabled {
  display: none !important ;
}

.left_header_content img:hover, .right_header_content span:hover {
  cursor: pointer;
}

.sounds_allerts:hover {
  cursor: pointer;
}

.utente:hover {
  cursor: pointer;
}

.utente_active:hover {
  cursor: pointer;
}

.utente_active_actions i:hover {
  cursor: pointer;
}

.text:hover {
  cursor: default;
}

.footer_content i:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
